.card-img {
    text-align: center; /* Centers horizontally */
    height: 200px; /* Set a height for the parent box */
    width: 100%; /* Set a width for the parent box */
    line-height: 250px;
   background-color: rgba(215, 197, 244, 0.348);
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
  object-fit: contain;

  }
  
.card-img img {
  width: 100%;
  height: 154%;
  vertical-align: text-bottom;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
  transition: all .3s ease;
  }
  .card_outer{
    border-radius: 10px;
    border: 1px solid rgba(206, 198, 198, 0.681);
    width: 248px;
    margin-bottom: 12px;
    transition: all ease-in-out 0.3s;
    display: grid;
  }
  
  .card_outer:hover .card-img img {
    transform: scale(1.1);
    filter: brightness(70%);
    transition: all ease-in-out 0.3s;
    box-shadow: 3px 0px 10px rgba(113, 113, 113, 0.914);
    cursor: pointer;
   }
.slider-item{
  overflow: hidden;
}

.card_outer:hover { 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    background-color: #f8f9fa; 
}
.card-main{
  justify-content: center;
}
/* .hide_box{
  position: relative;
  display: flex;
  justify-content: center;
  bottom: 70%;
  opacity: -1;
} */
 .hide_box{

   position: relative;
   display: flex;
   justify-content: center;
   bottom: 70%;
   position-area: bottom;
  opacity: -1;

  }

.card_outer:hover .hide_box{
  opacity: 1;
}
.bg-icon{
  background-color: #f8f9fae0;
  padding: 3px;
  border-radius: 5px;
  margin: 2px;
  cursor: pointer;
}