.add_img_box img{
    border: 1px solid rgba(0, 0, 0, 0.375) ;
    width:316px;
    height: 200px;
  border-radius: 15px;
}
.add_img_box{
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  overflow: hidden;
  margin: 12px;
}
.add_img_box img:hover{
  transform: scale(1.1);
  transition: all ease-in-out 0.3s;
  box-shadow: 3px 0px 10px rgba(113, 113, 113, 0.914);
  overflow: hidden;
}
