.cate_heading {
    padding-bottom: 12px;
}
.all-cate-data {
    padding: 12px;
    border-radius: 15px;
    box-shadow: 0px 0px 8px 1px #0000001f;
    /* height: 255px; */
    /* height: 800px; */
    overflow: auto;
    scrollbar-width: thin;
}
.all-cate-data ::-webkit-scrollbar {
    display: none; 
  }

.custom-scrollbar .scrollbar-up, 
.custom-scrollbar .scrollbar-down {
  display: none;
}
.all-cate-data nav {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.111);
    margin: 8px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}
.newdata_one{
    display: ruby;
}